<launch>
    

   <!-- Recording Bag File for Submission -->
    <arg name="record" default="false"/>
    <arg name="rec_name" default="task4.bag"/>

    <group if="$(arg record)">
        <node name="rosbag_record_pick" pkg="rosbag" type="record"
       args="record -O $(find pkg_task4)/bag_files/$(arg rec_name) --chunksize=20 /eyrc/vb/ur5_1/vacuum_gripper/logical_camera/ur5_1 /eyrc/vb/ur5_2/vacuum_gripper/logical_camera/ur5_2" output="screen"/>
    </group>

    <!-- Launch Task-4 Simulation Environment in Gazebo -->
    <include file="$(find pkg_vb_sim)/launch/task4_simulation.launch" />


    <!-- <include file="$(find pkg_vb_sim)/launch/two_ur5_move_group.launch" /> -->

    <!-- Launch Moveit Group Node -->
    <!-- <include file = "$(find pkg_moveit_ur5_1)/launch/move_group.launch" />  -->

    <!-- Launch two move_group nodes for the two UR5 Arms -->
    <!-- <include file="$(find pkg_vb_sim)/launch/two_ur5_move_group.launch" /> -->

    <!-- This node is for .....  -->
    <!-- It is also ..... -->
    <!-- <node name= "node_t4_cv" pkg= "pkg_task4" type="node_ur5_2.py" output="screen" args="ur5_2 ur5_1"/>
    <node name= "node_t4_moveit" pkg= "pkg_task4" type="node_ur5_1.py" output="screen" args="ur5_1 ur5_2"/>  -->
    
</launch>
